<div class="row">
	<div class="col-md-12">
		<form class="form-inline" *ngIf="filesData && filesData.length > 0">
			<div class="form-group">
				<label for="email">Uploaded Files: </label>
			    <select class="form-control" #files (change)="onFileChange(files.value)">
					<option *ngFor="let fd of filesData;let i = index" value="{{i}}">{{fd.name}}</option>
				</select>
		  	</div>	
		</form>
		<h3 *ngIf="!filesData || filesData.length < 1">
			Please upload file first.
		</h3>
	</div>
</div>

<div class="row data-container" *ngIf="filesData && filesData.length > 0">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th *ngFor="let h of selected.headers">{{h}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let d of selected.data">
						<td *ngFor="let h of selected.headers">{{d[h]}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>